.autocompletar{
    position: relative;
    display: inline-block;
}
strong{
    color: black;
}
#nombreProducto{
    background-color: #eee;
    border: none;
    border-radius: 30px;
    font-size: 1.7em;
    padding: 10px 25px;
    outline: none;
    width: 500px;
}
.listaAutocompletarNombres{
    color: #ccc;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    z-index: 99;

 
}

.listaAutocompletarNombres div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

}

.listaAutocompletarNombres div:hover{
    background-color: dodgerblue;

}

.autocompletarActivo{
    background-color: dodgerblue !important;
    color: #a1caff;
}

.autocompletarActivo strong{
    color: #fff;
}